{% load static %}
     <header>
      <div class="logo">
          Strivers
      </div>
      <nav class="navbar">
          <ul class="navbar-list" id="navbar"> 
              <li><a href="/" class="link" >Home</a> </li>
              <li><a class="link " href="job/" >Job</a></li>
              <li><a class="link" href="contactus/">Contact Us</a></li>
              <li><a class="link" href="login/" >Login</a></li>
              <li><a class="link" href="register/" >SignUp</a></li>
          </ul>
      </nav>
  </header>