<!DOCTYPE html>
<html lang="en">
<head>
  {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'https://kit.fontawesome.com/86f9edf12e.js' %}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Strivers | Home</title>
</head>
<body>
  {% load static %}
  {% include 'base.html' %}
    
    <div class="overlap">
      <div class="page-heading about-heading header-text">
          <img class="image" src="{% static 'img/img.jpg' %}">
      </div>

      <div class="search-fields">
          <form action="/" method="POST">
            {% csrf_token %}
            <select id="search" name="search" data-placeholder="e.g. Marketing"  class="select-box">
      <option>e.g  Marketing</option>
      <option value="3d%20printing">3D Printing</option>
      <option value=".net%20development" >.NET Development</option>
      <option value="accounts">Accounts</option>
      <option value="acting">Acting</option>
      <option value="aerospace">Aerospace Engineering</option>
      <option value="agriculture%20and%20food%20engineering">Agriculture &amp; Food Engineering</option>
      <option value="analytics">Analytics</option>
      <option value="anchoring">Anchoring</option>
      <option value="android%20app%20development">Android App Development</option>
      <option value="angular.js%20development">Angular.js Development</option>
      <option value="animation">Animation</option>
      <option value="architecture">Architecture</option>
      <option value="artificial%20intelligence%20(ai)">Artificial Intelligence (AI)</option>
      <option value="asp.net">ASP.NET Development</option>
      <option value="audio%20making%2Fediting">Audio Making/Editing</option>
      <option value="automobile%20engineering">Automobile Engineering</option>
      <option value="backend%20development">Backend Development</option>
      <option value="big%20data">Big Data</option>
      <option value="bioinformatics">Bioinformatics</option>
      <option value="biology">Biology</option>
      <option value="biotech">Biotechnology Engineering</option>
      <option value="blockchain%20development">Blockchain Development</option>
      <option value="blogging">Blogging</option>
      <option value="brand%20management">Brand Management</option>
      <option value="cad%20design">CAD Design</option>
      <option value="campus%20ambassador">Campus Ambassador</option>
      <option value="chartered%20accountancy%20(ca)">Chartered Accountancy (CA)</option>
      <option value="chemical">Chemical Engineering</option>
      <option value="chemistry">Chemistry</option>
      <option value="cinematography">Cinematography</option>
      <option value="civil">Civil Engineering</option>
      <option value="client%20servicing">Client Servicing</option>
      <option value="cloud%20computing">Cloud Computing</option>
      <option value="commerce">Commerce</option>
      <option value="company%20secretary%20(cs)">Company Secretary (CS)</option>
      <option value="computer%20science">Computer Science</option>
      <option value="computer%20vision">Computer Vision</option>
      <option value="content%20writing">Content Writing</option>
      <option value="copywriting">Copywriting</option>
      <option value="creative%20writing">Creative Writing</option>
      <option value="culinary%20arts">Culinary Arts</option>
      <option value="customer%20service">Customer Service</option>
      <option value="cyber%20security">Cyber Security</option>
      <option value="data%20entry">Data Entry</option>
      <option value="data%20science">Data Science</option>
      <option value="database%20building">Database Building</option>
      <option value="design">Design</option>
      <option value="dietetics%2Fnutrition">Dietetics/Nutrition</option>
      <option value="digital%20marketing">Digital Marketing</option>
      <option value="editorial">Editorial</option>
      <option value="electrical">Electrical Engineering</option>
      <option value="electronics">Electronics Engineering</option>
      <option value="embedded%20systems">Embedded Systems</option>
      <option value="energy%20science%20and%20engineering">Energy Science &amp; Engineering</option>
      <option value="engineering">Engineering</option>
      <option value="engineering%20design">Engineering Design</option>
      <option value="engineering%20physics">Engineering Physics</option>
      <option value="environmental%20sciences">Environmental Sciences</option>
      <option value="event%20management">Event Management</option>
      <option value="facebook%20marketing">Facebook Marketing</option>
      <option value="fashion%20design">Fashion Design</option>
      <option value="film%20making">Film Making</option>
      <option value="finance">Finance</option>
      <option value="flutter%20development">Flutter Development</option>
      <option value="front%20end%20development">Front End Development</option>
      <option value="full%20stack%20development">Full Stack Development</option>
      <option value="fundraising">Fundraising</option>
      <option value="game%20development">Game Development</option>
      <option value="general%20management">General Management</option>
      <option value="government">Government</option>
      <option value="graphic%20design">Graphic Design</option>
      <option value="hospitality">Hospitality</option>
      <option value="hotel%20management">Hotel Management</option>
      <option value="hr">Human Resources (HR)</option>
      <option value="humanities">Humanities</option>
      <option value="image%20processing">Image Processing</option>
      <option value="industrial%20and%20production%20engineering">Industrial &amp; Production Engineering</option>
      <option value="industrial%20design">Industrial Design</option>
      <option value="information%20technology">Information Technology</option>
      <option value="instrumentation%20and%20control%20engineering">Instrumentation &amp; Control Engineering</option>
      <option value="interior%20design">Interior Design</option>
      <option value="internet%20of%20things%20(iot)">Internet of Things (IoT)</option>
      <option value="ios%20app%20development">iOS App Development</option>
      <option value="java">Java Development</option>
      <option value="javascript%20development">Javascript Development</option>
      <option value="journalism">Journalism</option>
      <option value="law">Law</option>
      <option value="legal%20research">Legal Research</option>
      <option value="machine%20learning">Machine Learning</option>
      <option value="magento%20development">Magento Development</option>
      <option value="manufacturing%20engineering">Manufacturing Engineering</option>
      <option value="market%2Fbusiness%20research">Market/Business Research</option>
      <option value="marketing%2Fsales">Marketing/Sales</option>
      <option value="material%20science">Material Science</option>
      <option value="mathematics">Mathematics</option>
      <option value="mba">MBA</option>
      <option value="mechanical">Mechanical Engineering</option>
      <option value="mechatronics">Mechatronics</option>
      <option value="media">Media</option>
      <option value="medicine">Medicine</option>
      <option value="merchandise%20design">Merchandise Design</option>
      <option value="metallurgy">Metallurgical Engineering</option>
      <option value="mobile%20app%20development">Mobile App Development</option>
      <option value="motion%20graphics">Motion Graphics</option>
      <option value="music">Music</option>
      <option value="network%20engineering">Network Engineering</option>
      <option value="ngo">NGO</option>
      <option value="node.js%20development">Node.js Development</option>
      <option value="operations">Operations</option>
      <option value="pharmaceutical">Pharmaceutical</option>
      <option value="photography">Photography</option>
      <option value="php%20development">PHP Development</option>
      <option value="physics">Physics</option>
      <option value="political%2Feconomics%2Fpolicy%20research">Political/Economics/Policy Research</option>
      <option value="pr">Public Relations (PR)</option>
      <option value="product">Product Management</option>
      <option value="programming">Programming</option>
      <option value="project%20management%20">Project Management </option>
      <option value="proofreading">Proofreading</option>
      <option value="psychology">Psychology</option>
      <option value="python%2Fdjango">Python/Django Development</option>
      <option value="recruitment">Recruitment</option>
      <option value="robotics">Robotics</option>
      <option value="science">Science</option>
      <option value="search%20engine%20optimization%20(seo)">Search Engine Optimization (SEO)</option>
      <option value="social%20media%20marketing">Social Media Marketing</option>
      <option value="social%20work">Social Work</option>
      <option value="software%20development">Software Development</option>
      <option value="software%20testing">Software Testing</option>
      <option value="statistics">Statistics</option>
      <option value="strategy">Strategy</option>
      <option value="subject%20matter%20expert%20(sme)">Subject Matter Expert (SME)</option>
      <option value="supply%20chain%20management%20(scm)">Supply Chain Management (SCM)</option>
      <option value="talent%20acquisition">Talent Acquisition</option>
      <option value="teaching">Teaching</option>
      <option value="telecalling">Telecalling</option>
      <option value="transcription">Transcription</option>
      <option value="translation">Translation</option>
      <option value="travel%20and%20tourism">Travel &amp; Tourism</option>
      <option value="ui%2Fux">UI/UX Design</option>
      <option value="video%20making%2Fediting">Video Making/Editing</option>
      <option value="videography">Videography</option>
      <option value="volunteering">Volunteering</option>
      <option value="web%20development">Web Development</option>
      <option value="wordpress%20development">Wordpress Development</option>
            </select>

            <input type="hidden" id="user" value="{{user.username}}" name="user">
             
            <div class="search-btn">
              <input type="submit" value="Find Job">
            </div>
          </form>
      </div>
    </div>
    
    <script src="{%static 'js/index.js' %}"></script>

    <div class="middle">



      <div class="row">
        {% for j_title,company,detail_url,location in job_detail_list %} 
          <form method="POST" action="add_job">
            {%csrf_token%}
            <div class="middle">
            <a href="{{detail_url}}" class="card_link">
              <!-- <div class="column"> -->
                <div class="card">
                  <h2>{{company}}</h2>
                  <h3>{{j_title}}</h3>
                  <h3>{{location}}</h3>
                  <input type="hidden" id="url" value="{{detail_url}}" name="url">
                  <input type="hidden" id="title" value="{{j_title}}" name="title">
                  <input type="hidden" id="title" value="{{company}}" name="company">
                  <input type="hidden" id="title" value="{{location}}" name="location">
  
                
        
        
                  <input type="submit" 
                  style="background-color: black; color:#ccc ;    width:10%" 
                  value="Add">
                </div>
            </a>
            </div>
            
          </form>
        {% endfor %}
    </div>


</body>

</html>